h1{
    text-align: center;
    font-size: 100px;
    color: black;
}
body{
    background-image: url(lorran.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 40%;
    height: 100%;
}
.cabecalho{
    text-align: center;
    border-style: groove;
    border-color: black;
}
p{
    text-align: center;
    font-size: 30px;
    color: black;
}
uc{
    text-align: left;
    font-size: 30px;
    color: black;
}